.header{
	background-color:#e6faff;
	margin: 0px auto;
	padding: 0px;
	color: #333300;

}
.footer{
	background-color: #696969;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
	color:#F0F8FF;
}
@media(min-width:800px){
	.footer{
	background-color: #696969;
	margin: 0px auto;
	padding: 20px 20px 20px 20px;
	color:#F0F8FF;
}
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.side{
	color:#333300;
	background-color:#d9f7ff;
}
@media(min-width:540px){
	.address{
	font-size: 80%;
	margin-left:20%;
}}
body{
	padding: 50px 0px 0px 0px;
}
.navbar{
    background-color:#d9f7ff;
}
.Copyright{
	background-color: #404040;
}
.address{
	font-size: 80%;
}
@media(max-width:740px){
	#social li{
		float: left;
		padding: 0px 0px 20px 20px
	}
}